html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@font-face {
    font-family: 'trees';
    src: url('WickedGrit.ttf') format('truetype');
  }

  @font-face {
    font-family: 'anuphan';
    src: url('Anuphan-VariableFont_wght.ttf') format('truetype');
  }

  @media (max-width: 900px) {
    .imageContainer{display: none;}
  }

body {
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-basis: 1;
    font-family: 'anuphan'
}

.imageContainer {
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    flex: 0;
}

h1{
    font-family: 'trees';
    font-size: 2rem;
}
img.treeBackground {
    height: 100%;
    width: auto;
    }

img.trunk  {
    max-height: 100%;
    max-width: 20%;
    color: rgb(255, 255, 255);
}

.logoTextContainer {
    position: absolute;
    top: 40%;
    left: 0%;
    max-height: 20%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 0, 0, 0.1);
}

h2 {
    position: absolute;
    bottom: 3%;
    font-size: 0.6rem;
    text-align: center;
}
h3 {
    position: absolute;
    bottom: 1.5%;
    font-size: 0.6rem;
    text-align: center;
}
h5 {
    margin-bottom: 2rem;
}

h6 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(8, 49, 25);
}

.signupContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh; 
  
}

.signupFormContainer {
  margin-bottom: 2rem;
}
.headingText, .signupFormContainer, .submitSection {
    padding-right: 5rem;
    flex: 1;
}

.sigupForm {
    max-width: 400px;
    padding-right: 4rem;
    
}

.signupSection {
    padding-left: 2rem;

}

.submitSection {
    background-color: rgba(8, 56, 28, 0.281);
}

i {
    font-style: italic;
}

.headingText {
    font-size: 1.4rem;
    font-weight: 500;
    background-color: rgba(8, 56, 28, 0.281);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    gap: 2rem;
    color:rgb(8, 49, 25);
}

.loginLink {
    color: black;
}

button {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(8, 49, 25);
    border-radius: 0.3rem;
    border: 0;
    color: azure;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.loginLink {
    color:rgb(8, 49, 25);
    font-weight: 900;
}

label {
    display: flex;
    flex-direction: column;
    color:rgb(8, 49, 25);
    font-weight: 600;
    font-size: 0.8rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}

input {
    min-width: 23rem;
    max-width: 23rem;
}

span{
    max-width: 23rem;
}
p {
    font-size: 0.8rem;
    color:rgb(8, 49, 25);
    margin-bottom: 1rem;
}


.valid {
    background-color: rgb(8, 49, 25, 0.2);

}

.invalid {
background-color: rgba(255, 0, 0, 0.233);
}